# Base Mainnet Network Details
RPC_URL=https://mainnet.base.org
PRIVATE_KEY=your_private_key_here
AAVE_ADDRESS=0x63706e401c06ac8513145b7687a14804d17f814b

# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/aave_staking
